@model List<LlamaJournal.Models.UserCard>

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<head>
    <link href= "~/css/progress.css" rel="stylesheet" type="text/css"/>
</head>

<div class="row_cards_info d-flex">
    @foreach (var card in Model)
    {
        <div class="card mx-3">
            <div class="card-header">
                <h5 class="card-title">@card.Member</h5>
            </div>
            <div class="card-body">
                <a class="card-text h3" href="@Url.Action(@card.Action, "UserAccount")">@card.Action</a>

            </div>
        </div>
    }
</div>
