@model Database.User

@{
    ViewBag.Title = "Аккаунт";
    Layout = "_Layout";
}
<h2>Акаунт</h2>
<form method="get" asp-controller="UserAccount" asp-action="GetInfo">
    
    <label asp-for="FullName"></label>
    <span asp-for="FullName"></span>

    <label asp-for="Group"></label>
    <span asp-for="Group"></span>

    <label asp-for="Role"></label>
    <span asp-for="Role"></span>
</form>
