@model dynamic

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet"/>
</head>

<div class="registration-cssave" style="justify-content: center; display: flex; padding-top: 20px;">
    <form method="post" asp-controller="Login" asp-action="Index" style="width: 300px">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="form-group">
            <input class="form-control item" type="text" name="Id" maxlength="15" minlength="4"
                   id="username" placeholder="Номер залікової книги" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="email" name="Email" id="email" placeholder="Електрона пошта" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="password" name="Password" minlength="6" id="password" placeholder="Пароль" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" name="Fullname" minlength="4"
                   id="fullname" placeholder="ПІБ" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" name="Group" 
                   id="group" placeholder="Група" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="text" name="Role" minlength="4"
                   id="role" placeholder="Роль" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Добавити користувача у БД</button>
        </div>
    </form>
</div>
