@model List<llama_journal.Controllers.InfoItemCard>

@{
    ViewBag.Title = "ItemManagement";
    Layout = "_Layout";
    var stringGrades="";
}

<div class="cards_info" style="padding:20px; margin-bottom: 30px;">
    <div class="row_cards_info" style="width: 200px">
            @foreach (var card in Model)
            {
                <div class="card" style="width: 4000px; padding: 5px " >
                    <div class="card-header">
                        <h5 class="card-title">@card.Subject</h5>
                        <p class="card-text">@card.FullName</p>
                </div>
                @foreach(var grade in @card.Grades)
                {
                    stringGrades += $"{grade.ToString()}, ";
                }
                <div class="card-body">
                    <p class="card-text">@stringGrades</p>
                </div>
                </div>
            }
        </div>
</div>

