@model llama_journal.Models.SignupViewModel
@{
    ViewBag.Title = "Продовження реєстрації";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet"/>
	<link href= "~/css/panel.css" rel="stylesheet" type="text/css"/>
</head>
<div class="center">
	<form class="w-25 panel" method="post" asp-controller="Login" asp-action="SignUp">
		<h1>Створення організації</h1>
		<div class="form-floating">
			<input class="form-control item" type="email" name="Email" id="email" placeholder="Електрона пошта" required>
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			<label for="Email">Електрона пошта</label>
		</div>
		<div class="form-floating">
			<input class="form-control item" type="text" name="FullName" maxlength="50" minlength="4" id="FullName" placeholder="ПІБ" required>
			<label for="FullName">ПІБ</label>
		</div>
		<div class="form-floating">
			<input class="form-control item" type="password" name="Password" minlength="6" id="Password" placeholder="Пароль" required>
			@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			<label for="Password">Пароль</label>
		</div>
		<div class="form-floating">
			<input class="form-control item" type="password" name="ConfirmPassword" minlength="6" id="ConfirmPassword" placeholder="Підтвердіть пароль" required>
			@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
			<label for="ConfirmPassword">Підтвердіть пароль</label>
		</div>
		<button class="btn btn-primary btn-block create-account w-100" type="submit" >Зареєструватись</button>
	</form>
</div>

