<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<header>
    <!-- вставити код для шапки сайту -->
</header>
<nav>
    <!-- вставити код для навігації сайту -->
</nav>
<div>
    @RenderBody()
</div>
<footer>
    <!-- вставити код для футера сайту -->
</footer>
</body>
</html>