@model dynamic
@{
    ViewBag.Title = "Логін";
    Layout = null;
}


<div class="registration-cssave">
    <form method="post" asp-controller="Login" asp-action="Check">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="form-group">
            <input class="form-control item" type="text" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$"
                   id="username" placeholder="Номер залікової книги" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="password" name="Пароль" minlength="6" id="password" placeholder="Пароль" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="email" name="email" id="email" placeholder="Електрона пошта" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Вхід в акаунт</button>
        </div>
    </form>
</div>
