@model List<llama_journal.Controllers.InfoItemCard>

@{
    ViewBag.Title = "ItemManagement";
    Layout = "_Layout";
    string stringGrades="";
}

<div class="cards_info" style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
    <div class="row_cards_info" style="padding:20px; margin-bottom: 30px;">
            @foreach (var card in Model)
            {
                <div class="card" >
                    <div class="card-header" style="width: 140px">
                        <h5 class="card-title">@card.Subject</h5>
                        <p class="card-text">@card.FullName</p>
                </div>
                @foreach(var grade in @card.Grades)
                {
                    stringGrades += $"{grade.ToString()}, ";
                }
                <div class="card-body">
                    <p class="card-text">@stringGrades</p>
                </div>
                </div>
            }
        </div>
</div>

